<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_popup_index_data_source" xsi:type="string">Magenest\UiKnockoutJs\Model\ResourceModel\Popup\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_banner_index_data_source" xsi:type="string">Magenest\UiKnockoutJs\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
<!--    <virtualType name="VirtualTypeUploadImage" type="Magento\Catalog\Model\ImageUploader">-->
<!--        <arguments>-->
<!--            <argument name="baseTmpPath" xsi:type="string">banner/image</argument>-->
<!--            <argument name="basePath" xsi:type="string">banner/image</argument>-->
<!--            <argument name="allowedExtensions" xsi:type="array">-->
<!--                <item name="jpg" xsi:type="string">jpg</item>-->
<!--                <item name="jpeg" xsi:type="string">jpeg</item>-->
<!--                <item name="gif" xsi:type="string">gif</item>-->
<!--                <item name="png" xsi:type="string">png</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->
<!--    <type name="Magenest\UiKnockoutJs\Controller\Adminhtml\Index\Uploader">-->
<!--        <arguments>-->
<!--            <argument name="imageUploader" xsi:type="object">VirtualTypeUploadImage</argument>-->
<!--        </arguments>-->
<!--    </type>-->
    <virtualType name="Magenest\UiKnockoutJs\ReferenceImageUpload" type="Magenest\UiKnockoutJs\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">banner/tmp/feature</argument>
            <argument name="basePath" xsi:type="string">banner/feature</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magenest\UiKnockoutJs\Controller\Adminhtml\Index\Uploader">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magenest\UiKnockoutJs\ReferenceImageUpload</argument>
        </arguments>
    </type>
</config>
