<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="600">
            <label>Magenest</label>
        </tab>
        <section id="config_add_to_cart" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Config Add To Cart</label>
            <tab>magenest</tab>
            <resource>Magenest_AddToCart::config_add_to_cart</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Config Add To Cart</label>
                <field id="add_to_cart" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>"Yes" if customer not login, disable button add to cart </comment>
                </field>
            </group>
        </section>
    </system>
</config>
